header {
    text-align: center;
    padding-top: 12px;
    border-bottom: 1px solid rgba(0, 0,0, 0.1);
    margin-bottom: 24px;
}

h1, h2, h3 {
    color: #343a40;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
    margin-top: 32px;
}

article {
    padding-left: 16px;
    padding-right: 16px;
}

section {
    max-width: 720px;
    margin: 0 auto;
}

.option-box {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    grid-column-gap: 50px;
}

.option-group {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    margin-bottom: 8px;
}

.option {
    display: grid;
    grid-template-columns: 1fr 150px;
    padding-left: 5px;
    padding-right: 5px;
}

.slider-option {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.slider-option input {
    width: 118px;
}

.row {
    margin-bottom: 8px;
}

svg text {
    fill: black;
    text-anchor: middle;
    font-size: 0.7rem;
}

svg .y-label {
    text-anchor: start;
    alignment-baseline: middle;
}

svg .concertina-outline {
    fill: #f8f8f8;
    stroke: #aaa;
    stroke-width: 1;
}

svg .hill-fold {
    stroke: #222;
    stroke-width: 0.5;
    stroke-dasharray: 4, 4;
}

svg .valley-fold {
    stroke: #222;
    stroke-width: 1;
    stroke-dasharray: 2, 2;
}
